{% extends 'nesi/base.html' %}
{% block content %}

<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="https://res.cloudinary.com/dqh6bfpwq/image/upload/v1688938776/gallery-1_mft04e.jpg"  alt="Restaurant interior" />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">About us</span>
                          
                        </h2>
                        <p>Hi Ladies and Gentlman! It looks like you are here to know us better. Book my table is a user friendly, easily to use website where one can do booking of restaurant table by just filling in form availble in the website.</p>
                        <p class="mb-0">
                            To use the service you need to <em>login </em> first. So, register fast and reserve your table.
                            
                           
                        </p>
                        <p>Booking available time between 11:15 - 21:00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}