
{% extends 'nesi/base.html' %}
{% block content %}

<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="https://res.cloudinary.com/dqh6bfpwq/image/upload/v1687650599/samples/breakfast.jpg" alt="Restaurant interior" />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Food and Drinks</span>
                          
                        </h2>
                       <a class ='food-menu__pdf-link' href="https://res.cloudinary.com/dqh6bfpwq/image/upload/v1691250853/menu_a_yju1r6.png">Menu A

                       </a>
                       <a class ='food-menu__pdf-link' href="https://res.cloudinary.com/dqh6bfpwq/image/upload/v1691251782/menu_b_eib5jc.png">Menu B

                       </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}



